player-connection-mode=Listen
player-connection-guid=1175779699
player-connection-debug=0
player-connection-project-name=AR Augbox
player-connection-ip=192.168.56.1
player-connection-ip=169.254.100.43
player-connection-ip=1.174.194.88
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=UnityOpenXR
